@font-face
{
    font-family: 'sans';
    src: url('IRANSansRegular.ttf') format('truetype');
}

body {
    font-family: 'sans';
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 
{
    float: right !important;
}

.navbar
{
    margin-bottom: 0px !important;
}

.navbar-brand,
.navbar-header,
.navbar-nav,
.navbar-nav > li
{
    float: right;
}

.navbar > .container .navbar-brand ,
.navbar > .container-fluid .navbar-brand
{
    margin-right: 15px;
}

.navbar-default
{
    border: none !important;
}